.kit__type {
    display: flex;
    &:not(:last-child) {
        margin-bottom: 50px;
    }
}

.kit__type_header {
    margin-right: 30px;
    width: 70px;
    text-align: right;
}

.kit__type_title {
    line-height: 1.25;
}