.title {
    color: $color-dark;
    font-family: Quicksand, Montserrat, sans-serif;
    line-height: 1.25;
    font-weight: 700;
}

.title_size_1 {
    font-size: 24px;
}

.title_size_2 {
    font-size: 19px;
}

.title_size_3 {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}