{% extends 'layouts/default.njk' %}

{% set title = 'Главная страница' %}
{% set slug = 'home' %}

{% block content %}

{% markdown %}
# Добро пожаловать!
{{ title }}
{% endmarkdown %}

{% endblock %}