@include font-face("Quicksand", "../fonts/quicksand/quicksandbold", 700, normal);
@include font-face("Montserrat", "../fonts/montserrat/montserrat", 400, normal);
@include font-face("Montserrat", "../fonts/montserrat/montserratbold", 700, normal);

html {
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}

body {
    color: $color-dark-75;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 24px;
}